params {
    //General parameters
    outdir = '/kyukon/data/gent/vo/000/gvo00027/TOBI/CVID/Data/scCITE/Sequencing_20230301/NF_OutputData/'
    scratchdir = '/kyukon/data/gent/vo/000/gvo00027/TOBI/CVID/Data/scCITE/Sequencing_20230301/NF_OutputData/Scratch'
    email = 'tine.dhamers@ugent.be'
    name = "CVID_scCITESeq"
    help = false

    //Bcl2fastq
    bcl2fastq = false
    bcl2runname = '230301_A00774R_0282_AHGW32DMXY'
    sampleindexcsv = '/kyukon/data/gent/vo/000/gvo00027/TOBI/CVID/Scripts/scCITEAnalysis/NF_Pipeline/SampleInformation/20230301_CVID_scCITE.csv'
    barcodeMM = 0
    bcl2dir = "/kyukon/data/gent/vo/000/gvo00027/TOBI/CVID/Data/scCITE/Sequencing_20230301/230301_A00774R_0282_AHGW32DMXY/"
    untarbcl2 = false

    //Fastq Files
    fastqdir='/kyukon/data/gent/vo/000/gvo00027/TOBI/CVID/Data/scCITE/Sequencing_20230301/NF_OutputData/fastqfiles/HGW32DMXY/'
    library_type = "CITE_HASH"
    renamefastq = false

    //SRA
    sradownload = false

    //Cellranger
    aligner = "cellranger"
    cellranger_index ="/data/gent/vo/000/gvo00027/SingleCell10X/cellrangerref/hg38_Ensembl100"
    feature_ref = "/kyukon/data/gent/vo/000/gvo00027/TOBI/CVID/Scripts/scCITEAnalysis/NF_Pipeline/SampleInformation/20230301_TotalSeqC_humanPOOL41_VIB.csv"
    chemistry = "5prime"

    //Freemuxlet
    freemuxlet = true
    vcfref = "/kyukon/data/gent/vo/000/gvo00027/TOBI/CVID/Data/scCITE/1000GENOMES-phase_3_exons_hg38v100_snps_AF0109_final.vcf.gz"
    nsamples = 4

    //Quality control
    qcsample = false
    rmarkdown = "/kyukon/data/gent/vo/000/gvo00027/TOBI/CVID/Scripts/scCITEAnalysis/NF_Pipeline/QC_scCITESeq.Rmd"
    annotationfile = "/kyukon/data/gent/vo/000/gvo00027/TOBI/CVID/Scripts/scCITEAnalysis/NF_Pipeline/SampleInformation/20230301_SampleAnnotation_CVID.txt"
    features = "CD80.1,CD86.1,CD40.1,CD3,CD3.1,CD8,CD8a,CD27.1,CD27.2,IgM,IgD,CD45RB,CD45RA,IgG1-k,IgG2a-k,IgG2b-k,IgG-Fc,CD38.1,CD38.2,CD19.1"

    //Velocyto
    velocyto = false
    gtf = "/data/gent/vo/000/gvo00027/RNA_seq_pipeline/ensembl_transcriptomes/Homo_sapiens.GRCh38.100.gtf"
}

process{
  executor = "slurm"
  withLabel: big_mem {
        cpus = 18
        memory = 120.GB
    }
  withLabel: mid_mem {
          cpus = 18
          memory = 60.GB
      }
}

tower {
    accessToken = 'eyJ0aWQiOiA2NzAyfS40YzFiZTQ1NTFmNjYxOThjYjAxMzQzZDJiOGE4MGE4NDY4NTRlYWY2'
    enabled = true
}
